<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Infragistics.Win.UltraWinSchedule.UltraCalendarInfo.DataScrobble.ultraCalendarInfo1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Infragistics.Win.UltraWinSchedule.UltraCalendarLook.DataScrobble.ultraCalendarLook1" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Infragistics.Win.UltraWinSchedule.UltraCalendarInfo.DataScrobble.ultraCalendarInfo1>
            <setting name="XmlData" serializeAs="String">
                <value>&lt;SOAP-ENV:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:clr="http://schemas.microsoft.com/soap/encoding/clr/1.0" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"&gt;
&lt;SOAP-ENV:Body&gt;
&lt;a1:CalendarInfoStreamerAllProps id="ref-1" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinSchedule/Infragistics2.Win.UltraWinSchedule.v9.2"&gt;
&lt;FirstDayOfWeek&gt;1&lt;/FirstDayOfWeek&gt;
&lt;/a1:CalendarInfoStreamerAllProps&gt;
&lt;/SOAP-ENV:Body&gt;
&lt;/SOAP-ENV:Envelope&gt;
</value>
            </setting>
        </Infragistics.Win.UltraWinSchedule.UltraCalendarInfo.DataScrobble.ultraCalendarInfo1>
        <Infragistics.Win.UltraWinSchedule.UltraCalendarLook.DataScrobble.ultraCalendarLook1>
            <setting name="XmlData" serializeAs="String">
                <value>&lt;SOAP-ENV:Envelope xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:clr="http://schemas.microsoft.com/soap/encoding/clr/1.0" SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"&gt;
&lt;SOAP-ENV:Body&gt;
&lt;a1:CalendarLookStreamerAllProps id="ref-1" xmlns:a1="http://schemas.microsoft.com/clr/nsassem/Infragistics.Win.UltraWinSchedule/Infragistics2.Win.UltraWinSchedule.v9.2"&gt;
&lt;/a1:CalendarLookStreamerAllProps&gt;
&lt;/SOAP-ENV:Body&gt;
&lt;/SOAP-ENV:Envelope&gt;
</value>
            </setting>
        </Infragistics.Win.UltraWinSchedule.UltraCalendarLook.DataScrobble.ultraCalendarLook1>
    </userSettings>
</configuration>